<template>
  <v-container fluid>
    <v-row justify="center" align="center">
      <v-col cols="12" md="8">
        <portion-list 
          :portions=portions 
          :title="productName + ', содержание XE'"
          :redirectTo="'/calc/' + $route.params.slug + '/add/'"
          label="Добавить"
        >
        </portion-list>
      </v-col>
    </v-row>
    <v-row justify="center" v-if="brand">
      <v-col sm="12" md="8">
        <v-btn color="teal" dark :to="'/products/brand/'+ brand.slug + '/'">Все продукты бренда {{ brand.name }}</v-btn>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col sm="12" md="8">
        <attention-text :portions=portions :product-slug="$route.params.slug"></attention-text>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {getPortions} from '~/dataProviders/productApiProvider.js'
import { required, minValue, decimal } from "vuelidate/lib/validators"
export default {
  name: 'ProductDetail',
  data: () => ({
      portions: [],
      productName: '',
      brand: {},
      selectedPortionId: null,
      portionCount: null,
      seoPrefix: ''
  }),
  validations: {
      portionCount: {
        required,
        decimal,
        minValue: minValue(0),
      },
  },
  async fetch() {
    let result = await getPortions(this.$route.params.slug)
    if (result.status === 200) {
      this.portions = result.data.portions
      this.brand = result.data.brand
      this.productName = result.data.name
      this.productId = result.data.id
      
      this.seoPrefix = this.productName
      if (this.brand){
        this.seoPrefix += ' (' + this.brand.name + ')'
      }
    } 
  },
  
  head() {
    return {
      title: this.seoPrefix + ' - порции и содержание хлебных единиц',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.seoPrefix + ': белки, жиры, углеводы и калории'
        }
      ]
    }
  },
}
</script>