<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8">
      <v-card height="100%">
        <v-card-title class="headline" tag="h1">
          Все продукты бренда {{brandName}}
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <v-list>
                <v-skeleton-loader v-if="$fetchState.pending" type='list-item@10'></v-skeleton-loader>
                <template v-else-if="!$fetchState.error" v-for="(product, index) in products">
                  <v-list-item :to="product.to" :key="product.to">
                    <v-list-item-content>
                      <v-list-item-title>{{ product.name }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-divider :key="index" v-if="index + 1 != products.length"></v-divider>
                </template>
                <template v-else>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>Не удалось загрузить список продутов, <a @click="$fetch()">Повотрить?</a></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-list>
            </v-col>
          </v-row>
          <v-row v-if="products.length > 0">
            <v-col>
              <div class="text-center">
                <v-pagination
                  v-model="currentPage"
                  :length="allPaages"
                ></v-pagination>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {loadBrandProducts} from '~/dataProviders/productApiProvider.js'
export default {
  name: 'BrandProducts',
  data: () => ({
    allPaages: 0,
    currentPage: 1,
    brandName: '',
    products: [],
  }),
  async fetch() {
    this.load = true
    let response = await loadBrandProducts(this.$route.params.slug, this.currentPage)
    if (response.status === 200) {
      this.allPaages = response.data.pages_count
      this.brandName = response.data.results.brand_name
      this.products = []
    
      let products = response.data.results.products
      for (var key in products) {
        let product = products[key]
        this.products.push({
          name: product.name,
          to: '/products/' + product.slug + '/'
        })
      }
    } else {
      throw 0
    }
  },
  watch: {
    currentPage(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.$router.replace({ query: {page: newValue} })
        this.$fetch()
      }
    }
  },
  head() {
    return {
      title: 'Продукты бренда ' + this.brandName,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.brandName + ': содержание калорий. углеводов, жиров, и хлебных единиц'
        }
      ]
    }
  },
}
</script>

