<template>
    <v-card>
        <v-card-text>
            <p>Расчет хлебных единиц произведен из расчета <b>1 хлебная единица = 12 грамм углеводов.</b></p>
            <p class="font-weight-black">Будьте внимательны, информация о продуктах взята из открытых источников, возможны отклонения от реальных значений, если вы нашли ошибку <a @click="showDeclineModal = true">напишите</a> об этом.</p>
        </v-card-text>
        <v-dialog
            v-model="showDeclineModal"
            width="500"
        >
            <v-card>
                <v-card-title>
                    <span class="text-h5">Замечание к продукту</span>
                </v-card-title>
                <v-card-text>
                    <v-alert v-model="showAlert" :type="alert.type" dismissible>
                        {{ alert.text }}
                    </v-alert>
                    <v-container>
                        <v-row>
                            <v-col>
                                <v-select
                                    v-model="portion"
                                    hide-details="auto"
                                    :items=portions
                                    item-text="name"
                                    item-value="id"
                                    label="Порция"
                                    return-object
                                    :error-messages='getErrorText($v.portion) || backendErrors.portion'
                                ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-textarea
                                    v-model="text"
                                    solo
                                    label="Напишите о проблеме с этим продуктом"
                                    :error-messages='getErrorText($v.text) || backendErrors.text'
                                ></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-btn block color="primary_teal" @click='submitComplaint()' :loading="loading">Отправить</v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        black
                        color="primary_teal"
                        @click="closeDeclineModal()"
                    >
                    Закрыть
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import {sendComplaint} from '~/dataProviders/productApiProvider.js'
export default {
    name: 'attentionText',
    props: {
        portions: {
            type: Array,
            required: true,
        },
        productSlug: {
            type: String,
            required: true,
        }
    },
    data() {
        return {
            portion: {},
            text: '',
            showDeclineModal: false,
            loading: false,
            successDialog: true,
            showAlert: false,
            alert: {
                type: null,
                text: null,
            },
            backendErrors: {},
        }
        
    },
    validations: {
        portion: {
            required,
        },
        text: {
            required,
        },
    },
    methods: {
        getErrorText(validatorObject) {
            if (validatorObject.$error) {
                if (!validatorObject.required) {
                    return "Поле обязательно для заполнения"
                }
            }
        },
        async submitComplaint() {
            this.$v.$touch()

            if (!this.$v.$error) {
                this.loading = true
                try {
                    let response = await sendComplaint(this.productSlug, this.portion.id, this.text)

                    if (response.status === 201){
                        this.$v.$reset()
                        this.clearForm()
                        this.showSuccessAlert('Сообщение успешно отправлено')
                    }
                } catch (e) {
                    let response = e.response
                    if (response && response.status == 400) {
                        this.showErrorAlert('Исправьте ошибки')
                        console.log(response.data)
                        if (response.data.text) {
                            this.backendErrors.text = ''
                            for (let err_text of response.data.text) {
                                this.backendErrors.text += err_text + ' '
                            }
                            this.backendErrors.text.trim()
                        }
                        if (response.data.portion) {
                            this.backendErrors.portion = ''
                            for (let err_text of response.data.portion) {
                                this.backendErrors.portion += err_text + ' '
                            }
                            this.backendErrors.portion.trim()
                        }
                    }
                }
            }
            this.loading = false
        },
        clearForm() {
            this.portion = {}
            this.text = ''
        },

        showSuccessDialog() {
            this.successDialog = true
        }, 

        showErrorAlert(text) {
            this.alert.type = 'error'
            this.alert.text = text
            this.showAlert = true
        },

        showSuccessAlert(text) {
            this.alert.type = 'success'
            this.alert.text = text
            this.showAlert = true
        },

        closeDeclineModal() {
            this.showAlert = false
            this.$v.$reset()
            this.showDeclineModal = false
        }
    }
}
</script>