<template>
  <v-data-iterator
    :items="portions"
        hide-default-footer
  >
  <template v-slot:header>
    <v-toolbar
      color="primary_teal"
      dark
      flat
    >
      <v-toolbar-title tag="h1" class="headline">{{ title }}</v-toolbar-title>
    </v-toolbar>
  </template>
  <template>
    <v-row>
      <v-col 
        v-for="portion in portions"
        :key="portion.id"
        cols="12"
        md="6"
        lg="4"
      >
        <v-card>
          <v-card-title class="subheading font-weight-bold">
            {{ portion.name }}
          </v-card-title>

          <v-divider></v-divider>

          <v-list dense>
            <v-list-item>
              <v-list-item-content>Калории:</v-list-item-content>
                <v-list-item-content class="col-auto">
                  {{ portion.calories }}
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content>Жиры г.:</v-list-item-content>
                <v-list-item-content class="col-auto">
                  {{ portion.fat }}
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content>Белки г.:</v-list-item-content>
                <v-list-item-content class="col-auto">
                  {{ portion.protein }}
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content>Углеводы г.:</v-list-item-content>
                <v-list-item-content class="col-auto">
                  {{ portion.carbohydrates }}
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content>Хлебные единицы:</v-list-item-content>
                <v-list-item-content class="col-auto">
                  {{ portion.xe_count }}
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                  <v-btn block color="cyan" :to="redirectTo + '?portion=' + portion.id">
                    {{ label }}
                  </v-btn>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </template>
  </v-data-iterator>
</template>
<script>
export default {
  name: 'PortionList',
  props: {
    portions: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    redirectTo: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    }
  },
}
</script>
