<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-form>
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model=$v.productName.$model
                                placeholder="Название продукта *"
                                color="primary_teal"
                                clearable
                                outlined
                                hide-details='auto'
                                :error-messages='checkRequiredAndNumberErrors($v.productName)'
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-select
                                v-model=measure
                                :items=measureSelectItems
                                outlined
                                hide-details='auto'
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model=$v.carbCount.$model
                                :placeholder="'Углеводов на 100 ' + measure + ' продукта *'"
                                color="primary_teal"
                                outlined
                                hide-details='auto'
                                :error-messages='checkRequiredAndNumberErrors($v.carbCount)'
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model=$v.proteinCount.$model
                                :placeholder="'Белки на 100 ' + measure + ' продукта'"
                                color="primary_teal"
                                outlined
                                hide-details='auto'
                                :error-messages='checkRequiredAndNumberErrors($v.proteinCount.$model)'
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model=$v.fatCount.$model
                                :placeholder="'Жиры на 100 ' + measure + ' продукта'"
                                color="primary_teal"
                                outlined
                                hide-details='auto'
                                :error-messages='checkRequiredAndNumberErrors($v.fatCount.$model)'
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model=$v.caloriesCount.$model
                                :placeholder="'Калорий на 100 ' + measure + ' продукта'"
                                color="primary_teal"
                                outlined
                                hide-details='auto'
                                :error-messages='checkRequiredAndNumberErrors($v.caloriesCount)'
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model=$v.foodCount.$model
                                :placeholder="'Употреблено ' + measure + ' *' " 
                                color="primary_teal"
                                outlined
                                hide-details='auto'
                                :error-messages='checkRequiredAndNumberErrors($v.foodCount)'
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <p>Поля с * обязательны для заполнения.</p>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-btn 
                                block 
                                dark 
                                color="primary_teal" 
                                @click="submit()"
                            >
                                {{submitLabel}}
                            </v-btn>
                        </v-col>
                    </v-row>
                  </v-form>
                </v-col>
              </v-row>
            </v-container>
</template>

<script>
import { required, minValue, decimal } from "vuelidate/lib/validators"

export default {
    name: 'ProductForm',
    data: () => ({
        measure: 'гр.',
        measureSelectItems: [
            { text: 'Граммы', value: 'гр.' },
            { text: 'Милилитры', value: 'мл.' },
        ],
        productName: '',
        carbCount: '',
        proteinCount: '',
        fatCount: '',
        caloriesCount: '',
        foodCount: '',
    }),
    props: {
        dishItem: {
            type: Object,
            required: false
        }
    },
    validations: {
        productName: {
            required,
        },
        carbCount: {
            required,
            decimal,
            minValue: minValue(0),
        },
        foodCount: {
            required,
            decimal,
            minValue: minValue(0),
        },
        proteinCount: {
            minValue: minValue(0),
        },
        fatCount: {
            minValue: minValue(0),
        },
        caloriesCount: {
            minValue: minValue(0),
        },
    },
    methods: {
        checkRequiredAndNumberErrors(validatorObject) {
            if (validatorObject.$error) {
                if (!validatorObject.required) {
                    return "Поле обязательно для заполнения"
                }
                if (!validatorObject.decimal) {
                    return "Значение должно быть числом (например - 10.5 или 10)"
                }
                if (!validatorObject.minValue) {
                    return "Значение должно быть больше " + validatorObject.$params.minValue.min
                }
            }
        },
        addProduct() {
            this.$v.$touch()
            if (!this.$v.$error) {
                this.$store.commit(
                    'dish/addItem',
                    { 
                        productName: this.productName, 
                        portionName: '100 ' + this.measure, 
                        portionData: {
                            carbCount: this.carbCount,
                            proteinCount: this.proteinCount,
                            fatCount: this.fatCount,
                            caloriesCount: this.caloriesCount,
                        }, 
                        count: this.foodCount
                    }    
                )
                this.$router.replace('/');
            }
        },
        changeProduct() {
            this.$v.$touch()
            if (!this.$v.$error) {
                this.$store.commit(
                    'dish/changeItem',
                    {
                        id: this.dishItem.id, 
                        productName: this.productName, 
                        portionName: '100 ' + this.measure, 
                        portionData: {
                            carbCount: this.carbCount,
                            proteinCount: this.proteinCount,
                            fatCount: this.fatCount,
                            caloriesCount: this.caloriesCount,
                        }, 
                        count: this.foodCount
                    }    
                )
                this.$router.replace('/');
            }
        },
        submit() {
            if (this.dishItem) {
                this.changeProduct()
            } else {
                this.addProduct()
            }
        }
    },
    computed: {
        submitLabel: function() {
            return this.dishItem ? 'Изменить' : 'Добавить'
        }
    },
    mounted () {
        if (this.dishItem) {
            this.productName = this.dishItem.name
            this.measure = this.dishItem.measuredPortionLabel
            this.carbCount = this.dishItem.carbCount
            this.proteinCount = this.dishItem.proteinCount
            this.fatCount = this.dishItem.fatCount
            this.caloriesCount = this.dishItem.caloriesCount
            this.foodCount = this.dishItem.count
        }
    },
}
</script>