<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          placeholder="Введите название продукта"
          v-model="phrase"
          @input="debounceSearch()"
          color="primary_teal"
          clearable
          outlined
          hide-details
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row v-if="phrase">
      <v-col>
        <v-list max-height="500" class="overflow-y-auto">  
          <template 
            v-for="(product, index) in products"
            :if="!isLoading"
          >
            <v-list-item :to="'/products/' + product.slug + '/'"  
              :key="index"
            >
              <v-list-item-content>
                <v-list-item-title>{{ product.name }} {{ product.brand_name ? '(' + product.brand_name + ')' : '' }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider v-if="!isLoading" :key="'d' + index"></v-divider>
          </template>
          
          <v-list-item v-if="hasNextProducts && !isLoading">
            <v-list-item-content>
              <v-btn color='primary_teal' dark @click="loadNextPage()">Загрузить еще</v-btn>
            </v-list-item-content>
          </v-list-item>
          <v-progress-linear
            v-if="isLoading"
            color="primary_teal"
            indeterminate
            rounded
            height="6"
          ></v-progress-linear>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
  
</template>

<script>
import {searchProducts} from '~/dataProviders/productApiProvider.js'
export default {
  name: 'ProductSearch',
  data: () => ({
    products : [],
    hasNextProducts: false,
    currentPage: 1,
    phrase: '',
    debounceTimeout: null,
    isLoading: false,
  }),
  methods: {
    search: async function(extendProducts=false) {
      this.isLoading = true
      let result = await searchProducts(this.phrase, this.currentPage)
      if (result.status === 200){
        this.hasNextProducts = result.data.next
    
        if (result.data.results) {
          if (extendProducts) {
            this.products.push(...result.data.results)
          } else {
            this.products = result.data.results
          }
          
        }

      }
      this.isLoading = false
    },
    debounceSearch: function() {
      if (this.debounceTimeout) clearTimeout(this.debounceTimeout);
        this.isLoading = true
        this.debounceTimeout = setTimeout(() => {
          this.search()
        }, 1000);
        this.isLoading = false
    },
    loadNextPage(){
      if (this.hasNextProducts) {
        this.currentPage += 1
        this.search({extendProducts: true})
      }
    }
  }
}
</script>