<template>
    <v-card>
        <v-toolbar color="white" flat>
            <v-toolbar-title tag="h1" class="grey--text text--darken-4 headline">
                {{ title }}
            </v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar> 
        <v-card-text>
            <v-row align="center">
                <food-total :totals="totals"></food-total>
            </v-row>
            <v-list class="mt-3">
                <v-divider></v-divider>
                <v-container>
                    <v-row>
                        <v-col>
                            <v-select
                                v-model="portion"
                                hide-details="auto"
                                :items=portions
                                item-text="name"
                                item-value="id"
                                label="Порция"
                                return-object
                                required
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model="count"
                                hide-details="auto"
                                label="Количество"
                                required
                                type='number'
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-btn 
                                block 
                                dark 
                                color="primary_teal" 
                                @click="submit()"
                            >
                                {{ isEditMode ? 'Обновить' : 'Добавить'}}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-list>
        </v-card-text>
    </v-card>
</template>
<script>
import {calcParam, carbohydratesToXe, formatFloat} from '~/models/utils.js'
import { required, minValue, decimal } from "vuelidate/lib/validators"
export default {
    name: 'RemoteProductForm',
    props: {
        portions: {
            type: Array,
            required: true,
        },
        productName: {
            type: String,
            required: true,
        },
        selectedPortion: {
            type: Object,
            required: true,
        },
        portionCount: {
            type: Number,
            required: false,
            default: 1,
        },
        isEditMode: {
            type: Boolean,
            required: true,
        },
        storeId: {
            type: String,
            required: false
        }
    },
    data() {
        return {
            portion: this.selectedPortion,
            count: this.portionCount,
        }
    },
    validations: {
      count: {
        required,
        decimal,
        minValue: minValue(0),
      },
    },
    methods: {
        submit() {
            if (this.isEditMode){
                this.updatePortion()
            } else {
                this.addPortion()
            }
            
        },
        addPortion() {
            this.$v.$touch()
            if (!this.$v.$error && this.portion) {
                this.$store.commit(
                    'dish/addItem',
                    {
                        productName: this.productName, 
                        portionName: this.portion.name,
                        portionData: {
                            carbCount: this.portion.carbohydrates,
                            proteinCount: this.portion.protein,
                            fatCount: this.portion.fat,
                            caloriesCount: this.portion.calories,
                        }, 
                        count: this.count,
                        portionId: this.portion.id,
                        productId: this.$route.params.slug,
                        isMeasured: this.portion.for_weighing
                    }
                )
                this.$router.replace('/');
            }
        },
        updatePortion() {
            this.$v.$touch()
            if (!this.$v.$error && this.storeId) {
                this.$store.commit(
                    'dish/changeItem',
                    {
                        id: this.storeId, 
                        productName: this.productName, 
                        portionName: this.portion.name, 
                        portionData: {
                            carbCount: this.portion.carbohydrates,
                            proteinCount: this.portion.protein,
                            fatCount: this.portion.fat,
                            caloriesCount: this.portion.calories,
                        }, 
                        count: this.count
                    }    
                )
                this.$router.replace('/');
            }
        }
    },
    computed: {
        totals: function () {
            let result = {
                'protein': 0.0,
                'carbohydrates': 0.0,
                'fat': 0.0,
                'calories': 0.0,
                'xe': 0.0,
            }
            
            if (this.portion){
                let protein = formatFloat(this.portion.protein, 1),
                    carbohydrates = formatFloat(this.portion.carbohydrates, 1),
                    fat = formatFloat(this.portion.fat, 1),
                    calories = formatFloat(this.portion.calories, 1)
                if (this.count) {
                    let isMeasured = this.portion.for_weighing
                    result['protein'] = calcParam(protein, this.count, isMeasured)
                    result['carbohydrates'] = calcParam(carbohydrates, this.count, isMeasured)
                    result['fat'] = calcParam(fat, this.count, isMeasured)
                    result['calories'] = calcParam(calories, this.count, isMeasured)
                    result['xe'] = carbohydratesToXe(result['carbohydrates'])
                } else {
                    result['protein'] = protein
                    result['carbohydrates'] = carbohydrates
                    result['fat'] = fat
                    result['calories'] = calories
                    result['xe'] = carbohydratesToXe(result['carbohydrates'])
                }
                
            }
            return result
        },
        title: function (){
            let action = this.isEditMode ? 'Изменение' : 'Добавление'
            return action + ' - ' + this.productName + ' ' + this.portion.name
        }
    },
}
</script>