<template>
    <v-col class="text-center">
        <div class="font-weight-black text-subtitle-1">{{ value }}</div>
            <div class="orange--text text--darken-2">{{ label }}</div>
    </v-col>
</template>

<script>
    export default {
        name: 'TotalItemColumn',
        props: {
            'label': String, 
            'value': String
        }
        
  }
</script>