<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8">
        <v-card height="100%"  v-if="mode==='local' && portionData.item">
            <v-card-title class="headline" tag="h1">
                Изменение продукта
            </v-card-title>
            <product-form :dishItem='portionData.item'></product-form>
        </v-card>
        <remote-portion-form
            v-if="mode==='remote' && portionData.portions"
            :portions="portionData.portions"
            :productName="portionData.productName"
            :selectedPortion="portionData.selectedPortion"
            :portionCount="portionData.count"
            :storeId="this.$route.params.id"
            isEditMode
        >
        </remote-portion-form>
    </v-col>
  </v-row>
</template>

<script>
import {getPortions} from '~/dataProviders/productApiProvider.js'
export default {
    name: 'ProductEdit',
    data: () => ({
        portionData: {},
        mode: ''
    }),
    created () {
        if (process.client) {
            this.$store.commit('dish/getItems')
            let routeProductId = this.$route.params.id
            if (routeProductId) {
                let self = this
                this.$store.state.dish.items.forEach(function(object, index) {
                    if (object.id === routeProductId) {
                        if (object.productId){
                            self.initRemotePortion(object)
                        } else {
                            self.initLocalPortion(object)
                        }
                        return
                    }
                })
            }
        }
    },
    methods: {
        initLocalPortion: function(object) {
            this.mode = 'local'
            this.portionData.item = object
        },
        initRemotePortion: function(object) {
            this.mode = 'remote'
            let self = this
            getPortions(object.productId)
            .then(result => {
                if (result.status === 200) {
                    let portionData = {}
                    portionData.portions = result.data.portions
                    portionData.productName = result.data.name
                    for (let portion of portionData.portions) {
                        if (portion.id === object.portionId) {
                            portionData.selectedPortion = portion
                            portionData.count = object.count
                            break
                        }
                    }
                    self.portionData = portionData
                }
            }).catch(e => {
                console.log(e);
            })
        },
    },
    head() {
        return {
            title: 'Редактирование '+ this.portionData.productName,
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: this.portionData.productName + ' калькулятор XE'
                }
            ]
        }
    }
}
</script>