<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8">
      <v-card height="100%">
        <v-card-title class="headline" tag="h1">
          Добавление продукта
        </v-card-title>
        <v-tabs
          fixed-tabs
          show-arrows
          color="primary_teal"
        >
          <v-tab>Выбор продукта</v-tab>
          <v-tab>Добавить свой продукт</v-tab>

          <v-tab-item>
            <product-search></product-search>
          </v-tab-item>
          <v-tab-item>
            <product-form></product-form>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'ProductsSelect',
  head: {
    title: 'Поиск продуктов',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Поиск продуктов, сколько xe в продуктах'
      }
    ]
  }
}
</script>
