<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :clipped="true"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          link
          :class="{'v-list-item--active': isActive(item.id, $route.name)}"
          @click="$router.push({ path: item.to })"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="true"
      color="primary_teal"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>XeCalc.ru</v-toolbar-title>
      <v-spacer />
      <v-btn icon to='/donate/'>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon to='/feedback/'>
        <v-icon>mdi-comment-quote-outline</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <yandex-ad-banner class="mt-2 mb-4" :key="$route.fullPath"></yandex-ad-banner>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer
      dark
      padless
    >
      <v-card
        class="flex"
        flat
        tile
      >
        <v-card-text class='primary_teal'>
            <v-row justify=center>
                <v-col md=auto>
                    <a href='https://t.me/xecalc' target='blank'>
                        <v-img src='/telegram.png' width=50 height=50 class='ml-auto'></v-img>
                    </a>
                </v-col>
                <v-col md=auto>
                    <a href='https://vk.com/xecalc' target='blank'>
                        <v-img src='/vk.png' width=50 height=50></v-img>
                    </a>
                </v-col>
                <v-col md=auto>
                    <a href='https://play.google.com/store/apps/details?id=com.ivan_kazionov.xecalc' target='blank'>
                        <v-img src='/android-badge.png' width=50 height=50></v-img>
                    </a>
                </v-col>
            </v-row>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    
    return {
      drawer: false,
      items: [
        {
          id: 'calc',
          icon: 'mdi-calculator',
          title: 'Калькулятор',
          to: '/',
        },
        {
          id: 'products',
          icon: 'mdi-food-apple-outline',
          title: 'Продукты',
          to: '/products/'
        },
        {
          id: 'feedback',
          icon: 'mdi-comment-quote-outline',
          title: 'Обратная связь',
          to: '/feedback/'
        },
        {
          id: 'donate',
          icon: 'mdi-heart',
          title: 'Помощь проекту',
          to: '/donate/'
        }
      ]
    }
  },
  methods: {
    isActive: function(menuId, routeName){
      switch (menuId) {
        case 'calc':
          return ['index', 'calc-id', 'calc-slug-add'].includes(routeName)
        case 'products':
          return ['products', 'products-slug', 'products-brand-slug'].includes(routeName)
        case 'feedback':
          return routeName === 'feedback'
        case 'donate':
          return routeName === 'donate'
      }
      return false
    }
  },
}
</script>
