<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8">
      <v-card height="100%">
        <v-card-title class="justify-center">
          <h1 class="text-h4">Поддержка проекта</h1>
        </v-card-title>
         <v-card-text>
          <v-container>
            <v-row>
              <v-col class="justify-center">
                <p class="text-center">Отсканируйте QR код, или нажмите на кнопку ниже</p>
              </v-col>
            </v-row>
            <v-row justify=center>
              <v-col cols=auto>
                <v-img src='/donateQR.png' width=300 height=300></v-img>
              </v-col>
            </v-row>
            <v-row justify=center>
              <v-col cols=auto>
                <v-btn color=warning href=https://pay.cloudtips.ru/p/149dc409 target=blank>Поддержать</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Donate',
  head: {
    title: 'Помощь проекту',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Калькулятор хлебных единиц, помощь проекту'
      }
    ]
  }
}
</script>