<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8">
      <v-card>
        <v-toolbar
          color="white"
          flat
        >
          <v-toolbar-title tag="h1" class="grey--text text--darken-4 headline">
            Вопросы и предложения
          </v-toolbar-title>
        </v-toolbar> 
        <v-card-text>
          <v-alert v-model="showAlert" :type="alert.type" dismissible>
            {{ alert.text }}
          </v-alert>
          <v-row>
            <v-col>
                <v-form>
                    <v-row>
                        <v-col>
                            <v-text-field
                              v-model=$v.contacts.$model
                              placeholder="Ваши контакты"
                              color="primary_teal"
                              clearable
                              outlined
                              hide-details='auto'
                              :error-messages='getErrorText($v.contacts)'
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-textarea
                              v-model=$v.text.$model
                              solo
                              placeholder="Сообщение"
                              :error-messages='getErrorText($v.text)'
                            ></v-textarea>
                        </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-btn block color="primary_teal" @click='sendFeedback()' :loading="loading">Отправить</v-btn>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-col>
              </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {sendFeedback} from '~/dataProviders/productApiProvider.js'
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'Feedback',
  data () {
    return {
      contacts: '',
      text: '',
      loading: false,
      showAlert: false,
      alert: {
        type: null,
        text: null,
      }
    }
  },
  validations: {
    contacts: {
      required,
    },
    text: {
      required,
    },
  },
  methods: {
    async sendFeedback() {
      this.$v.$touch()

      if (!this.$v.$error) {
        this.loading = true
        try {
          let response = await sendFeedback(this.contacts, this.text)

          if (response.status === 201){
            this.$v.$reset()
            this.clearForm()
            this.showSuccessAlert('Ваше сообщение успешно отправлено')
          }
        } catch (e) {
          let response = e.response
          if (response.status == 400) {
            this.showErrorAlert('Исправьте ошибки')
          }
        }
      }
      this.loading = false
    },

    clearForm() {
      this.contacts = ''
      this.text = ''
    },

    showErrorAlert(text) {
      this.showAlert = true
      this.alert.type = 'error'
      this.alert.text = text
    },

    showSuccessAlert(text) {
      this.showAlert = true
      this.alert.type = 'success'
      this.alert.text = text
    },
    
    getErrorText(validatorObject) {
      if (validatorObject.$error) {
        if (!validatorObject.required) {
          return "Поле обязательно для заполнения"
        }
      }
    }, 
  },
  head: {
    title: 'Обратная связь',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Калькулятор хлебных единиц, обратная связь, отзыв'
      }
    ]
  }
}
</script>