<template>
  <v-row justify="center" align="center" class="mb-4">
    <v-col cols="12" md="8">
      <v-card>
        <v-toolbar
          color="white"
          flat
        >

          <v-toolbar-title tag="h1" class="grey--text text--darken-4 headline">
            Калькулятор
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            icon
            light
            @click="clearModal = true"
          >
            <v-icon color="red">
              mdi-delete
            </v-icon>
          </v-btn>
        </v-toolbar> 
        <v-card-text>
          <v-row align="center">
            <food-total :totals="totals"></food-total>
          </v-row>
          <v-list class="mt-3">
            <v-divider></v-divider>
            <template v-for="(item, index) in items">
              <v-list-item :key=index>
                <v-list-item-content>
                  <v-list-item-title>{{ item.name }}</v-list-item-title>
                  <v-list-item-subtitle>{{ item.xeCount | formatFloat(1) }} XE</v-list-item-subtitle>
                  <v-list-item-subtitle>{{ item.portionNameWithLabel }}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                  <v-menu
                    bottom
                    left
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        dark
                        icon
                        v-bind="attrs"
                        v-on="on"
                      >
                        <v-icon color="grey">mdi-dots-vertical</v-icon>
                      </v-btn>
                    </template>

                    <v-list>
                      <v-list-item :to="'/calc/'+ item.id +'/'">
                        <v-list-item-title>Редактировать</v-list-item-title>
                      </v-list-item>
                      <v-list-item @click=remove(item.id)>
                        <v-list-item-title>Удалить</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </v-list-item-action>
              </v-list-item>
              <v-divider :id="'d' + index" :key="'d' + index" v-if="index+1 !== items.length"></v-divider>
            </template>
            
          </v-list>
          <v-fab-transition>
              <v-btn
                color="primary_teal"
                dark
                absolute
                bottom
                right
                fab
                to="/products/"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
          </v-fab-transition>
        </v-card-text>
      </v-card>
    </v-col>
    <v-dialog
      v-model="clearModal"
      width="500"
    >
      <v-card>
        <v-card-title class="grey lighten-2">
          Удалить продукты?
        </v-card-title>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="clearModal = false"
          >
            Отмена
          </v-btn>
          <v-btn
            color="red"
            text
            @click=clearProductsAndCloseModal()
          >
            Удалить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  name: 'IndexPage',
  data () {
    return {
      clearModal: false,
      showEditPortionForm: false,
    }
  },
  computed: {
    ...mapGetters('dish', [
      'totals',
    ]),
    ...mapState('dish', [
      'items'
    ])    
  },
  methods: {
    ...mapMutations('dish', [
      'remove',
      'clear',
    ]),
    clearProductsAndCloseModal(){
      this.clear()
      this.clearModal = false
    },
  },
  mounted () {
    this.$store.commit('dish/getItems')
  },
  head: {
    title: 'Калькулятор хлебных единиц',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Калькулятор хлебных единиц, белки, жиры и углеводы'
      }
    ]
  }
}
</script>
