<template>
    <v-row justify="center" align="center">
        <v-col cols="12" md="8">
            <remote-portion-form
                v-if="selectedPortion"
                :portions="portions"
                :productName="productName"
                :selectedPortion="selectedPortion"
                :isEditMode=false
            >
            </remote-portion-form>
        </v-col>
    </v-row>
</template>
<script>
import {getPortions} from '~/dataProviders/productApiProvider.js'
import remotePortionForm from '~/components/remotePortionForm.vue'
export default {
  components: { remotePortionForm },
    name: 'PortionAdd',
    data: () => ({
        portions: [],
        productName: '',
        selectedPortion: null,
        productId: null
    }),
    
    async fetch() {
        let result = await getPortions(this.$route.params.slug)
        if (result.status === 200) {
            this.portions = result.data.portions
            this.productName = result.data.name
            this.productId = result.data.id

            let portionId = Number(this.$route.query.portion)
            if (portionId) {
                let self = this
                this.portions.forEach(function(portion, index) {
                    if (portion.id === portionId) {
                        self.selectedPortion = portion
                        return
                    }
                })
            }
        } 
    },

    head() {
        return {
            title: 'Добавление '+ this.productName +' в калькулятор xe',
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: this.productName + ' калькулятор XE'
                }
            ]
        }
    }
}
</script>